@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Sofia Sans Condensed", sans-serif;
  user-select: none;
}

body {
  overflow-y: hidden;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.card {
  width: 60%;
  height: 350px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 26px rgb(6, 6, 33);
  z-index: 9999;
}

.question {
  text-align: center;
}

button {
  margin: 30px;
  width: 130px;
  height: 60px;
  background-color: rgb(204, 204, 204);
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 26px;
}

button:hover {
  background-color: grey;
  box-shadow: 0px 0px 8px grey;
  cursor: pointer;
}

.title {
  font-size: 46px;
}
